

.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    animation: 1s ease-in both;
    animation-timeline: view();
    animation-range: entry;
    animation-name: blurFadeIn;
    margin-bottom: 50px;
}

/* ------------------------ SCROLL ANIMATION ---------------------*/

@keyframes blurFadeIn {
    0% {
        transform: scale(0.3);
        opacity: 0;
        filter: blur(3px);
    }

    80% {
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
    }

    100% {
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
    }
}

.card-image{
    width: auto;
    height: 350px;
    overflow: hidden;
    border: solid 2px #fff;
    border-radius: 50px;
}

.card-text-container{
    width: 261.5px;
    height: 350px;
    backdrop-filter: blur(15px);
    position: absolute;
    bottom: 0px;
    left: calc(50% - 133px);
    border-radius: 50px;
    border: solid 2px #fff;
    animation-name: show-description;
    animation-duration: 0.3s;
}

@keyframes show-description {
    0% {
        transform: scale(0);
        opacity: 0;
        filter: blur(3px);
    }

    100% {
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
    }
}

.card-title{
    margin-top: 40px;
    margin-left: 15% ;
    font-size: clamp(18px, 0.3043rem + 3.4783vw, 23px);
    width: 70%;
}

.card-description{
    width: 70%;
    margin: auto;
    margin-left: 17%;
    margin-bottom: 30px;
    font-size: clamp(14px, 0.200rem + 3.2vw, 18px);
}

.hidden-object{
     display: none;
}



/* ------------------------- MEDIA SCREEN 400 PX ---------------------------
---------------------------------------------------------------------------- */

@media screen and (min-width:400px) {

    .card-image{
        height: 450px;
    }

    .card-text-container{
        width: 339px;
        height: 450px;
        left: calc(50% - 171px);
    }
}

/* ------------------------ MEDIA SCREEN 600 PX --------------------------
-------------------------------------------------------------------------- */

@media screen and (min-width:600px) {

    .card-image{
        height: 550px;
    }

    .card-text-container{
        width: 413px;
        height: 550px;
        left: calc(50% - 208px);
    }

    .card-title{
        margin-top: calc(50% - 50px);
    }

}

/* ------------------------- MEDIA SCREEN 800 PX ---------------------------
---------------------------------------------------------------------------- */

@media screen and (min-width:800px) {
      
    .card-image{
        height: 620px;
    }
    
    .card-text-container{
        width: 466px;
        height: 620px;
        left: calc(50% - 235px);
    }
}
    

/* ------------------------ MEDIA SCREEN 1000 PX --------------------------
--------------------------------------------------------------------------- */

@media screen and (min-width:1000px) {
 
    .card-image{
        height: 700px;
    }

    .card-text-container{
        width: 526px;
        height: 700px;
        left: calc(50% - 265px);
    }
}

