/*-------------------------------  GLOBAL CSS  -----------------------
--------------------------------------------------------------------*/

html{
  background-color: #222222;
}

/*-------------------------------  HEADER CSS  -----------------------
--------------------------------------------------------------------*/

.menu-container{
  background-color: #222222;
  height: 100px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  flex-wrap: wrap;
  flex-direction: row;
}

.menu-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu-nav-container{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


/*-------------------------------  FOOTER CSS  -----------------------
--------------------------------------------------------------------*/
