/*-------------------------------  GLOBAL CSS  -----------------------
--------------------------------------------------------------------*/

html{
  background-color: #222222;
  margin: 13%;
}

/*-------------------------------  SCROLLBAR CSS  -----------------------
--------------------------------------------------------------------*/

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #727272;
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb:hover {
  background: #fcfcfc;
  box-shadow: inset 0 0 12px #89ffff;
}
/*-------------------------------  HEADER CSS  -----------------------
--------------------------------------------------------------------*/



/*-------------------------------  FOOTER CSS  -----------------------
--------------------------------------------------------------------*/

.footer-container{
  background: linear-gradient(145deg, #131313, #000000);
  height: 100px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer-IllusionSeed-title{
  z-index: 100;
  position: fixed;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  left: 50px;
  bottom: 49px;
}

.footer-IllusionSeed-title > a {
  text-decoration: none;
  color: #000000;
}

.footer-IllusionSeed-title > a:hover{
  text-shadow: 0 0 30px #89ffff;
  -webkit-text-stroke: 0.5px #89ffff; 
  transition: 1s cubic-bezier(1, 0.05, 0.65, 1);
}

.footer-IllusionSeed-title > a:hover::before{
  text-shadow: 0 0 10px #89ffff;
  position: fixed;
  content: "HappySoul Illustrate";
  left: 50px;
  bottom: 89px;
  transition: 1s cubic-bezier(0.075, 1, 0.065, 1);
}

.footer-social-button-list{
  padding: 0;
  margin-bottom: 50px;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}